
u1-tree1 {
    zzz--indent:1em;
    zzzdisplay:block; /* contents? */
}
zzzu1-tree1:not([aria-expanded=true])::part(children) {
    display:none;
}
u1-tree1::part(row):focus {
    outline:1px dotted black;
}
u1-tree1[aria-selected=true]::part(row) {
    background:#00000008;
}
