
u1-tree1 {
    --indent:1em;
    --level:0;
    display:block;

    /* grid experiment *
    display:grid;
    grid-template-columns: auto 1fr;
    gap:.5rem;
    /* */
}
/* *
u1-tree1 u1-tree1 {
    display:contents;
}
/* */

u1-tree1:not([aria-expanded=true])::part(children) {
    display:none;
}
u1-tree1::part(row):focus {
    outline:1px dotted black;
}
u1-tree1[aria-selected=true]::part(row) {
    background:#00000008;
}


/* todo */
u1-tree1 > u1-tree1 { --level:1 }
u1-tree1 > u1-tree1 > u1-tree1 { --level:2 }
u1-tree1 > u1-tree1 > u1-tree1 > u1-tree1 { --level:3 }
u1-tree1 > u1-tree1 > u1-tree1 > u1-tree1 > u1-tree1 { --level:4 }
u1-tree1 > u1-tree1 > u1-tree1 > u1-tree1 > u1-tree1 > u1-tree1 { --level:5 }
u1-tree1 > u1-tree1 > u1-tree1 > u1-tree1 > u1-tree1 > u1-tree1 > u1-tree1 { --level:6 }
